dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* 表示サイズの指定 */
dialog[open]:modal {
  max-height: 83vh;
  max-width: 80vw;
  overflow-x: hidden;
  overflow-y: auto;
}

dialog[open]:modal.--mobile {
  margin: auto 0 0 0;
  min-width: 100%;
  max-height: 90vh; /* モバイル表示のダイアログの高さ */
}

.modal-body {
  margin: 10px 0;
}

@media (prefers-reduced-motion: no-preference) {
  dialog[open]:modal {
    animation: slide-up 0.4s ease-out;
  }

  dialog[open]:modal.--mobile {
    animation: slide-up-from-bottom 0.4s ease-out;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  @keyframes slide-up-from-bottom {
    0% {
      opacity: 0;
      transform: translate(0, 100%);
    }

    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}