@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn {
  @apply py-1 px-2 text-sm;
}

.btn-sm {
  @apply py-0.5 px-1 text-xs;
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-regular {
  @apply bg-blue-500 text-white;
}

.btn-regular:active {
  @apply bg-blue-700;
}

.btn-outline {
  @apply bg-white text-blue-700 border border-blue-500;
}

.btn-outline:active {
  @apply bg-blue-500 text-white border-transparent;
}

.btn-red-outline {
  @apply bg-white text-red-700 border border-red-500;
}

.btn-red-outline:active {
  @apply bg-red-500 text-white border-transparent;
}

.input-label {
  @apply block uppercase tracking-wide text-xs font-bold mb-1;
}

.input-text {
  @apply block w-full border py-1 px-2 bg-gray-200;
}

.input-textarea {
  @apply w-full border py-1 px-2 bg-gray-200;
}

.output-text {
  @apply block w-full border py-1 px-2;
}

.list-style {
  padding: 0.25rem 0.5rem;
  @apply bg-stone-50;
}

.list-style-selected {
  @apply bg-blue-100;
}

.list-group {
  @apply p-0
}

.list-group-item:first-child {
  border-top: 1px solid;
  @apply border-stone-400;
}

.list-group-item {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  @apply border-stone-400;
}